/*
  Reset some basic elements
*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}
/*
  Basic styling
*/
body, h1, h2, h3, h4, h5, h6, p {
  font-family: $base-font-family;
}
/* first page subhead - the old h111*/
h1 {
  letter-spacing: .8px;
  font-weight: 700;
  font-size: 82px;
  line-height: 86px;
}
// Store subhead - the olde h8
h2 {
  font-weight:700;
  font-size: 30px;
  line-height: 32px;
  //text-align: center;
}
// Store Products description, price, whatuget - the old h15
h3 {
  font-size: 15px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0px;
  color: black;
}
// Store heading - was h7
h4 {
  font-weight:900;
  font-size: 62px;
  line-height: 62px;
}
// subhead on store form page- formerly h11
h5 {
  font-weight: 200;
  letter-spacing: .8px;
  text-transform: uppercase;
  font-size: 16px;
}
// subhead on store form page
h6 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.65;
}
/*
  Links
*/
a {
  color: blue;
  text-decoration: underline;
  text-decoration-color: #3eb984;
}
.store-cta-button h3:hover {
  //text-decoration: underline;
  transition: .5s;
  //color: #ff9900;
  color: black;
}
h4 a {
  color: black;
}
h4 a:hover {
  color: black;
}
/*
  Blockquote
*/
blockquote {
  border-left: 0.25rem solid #ccc;
  margin: 1.5em 10px;
  color: #999;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
/**
 * Tables
 */
 table {
     border-collapse: collapse;
     margin-bottom: 30px;
     width: 100%;
 }
 table, th, td {
     border: 1px solid black;
 }
 th, td {
     padding: 15px;
     text-align: left;
 }
