
/*
  Header
*/
.shelf-header {
  padding: 0;
  margin: 10px 0 10px 0;
}
.shelf-header-content {
  color: black;
  width:640px;
  padding: 0px 0 0px 0;
  margin: 0px 0 0 60px;
  text-align: left;
  background-color:  none;
}
.shelf-headhead {
  padding: 0;
  margin: 8px;
}
.header-image img {
  float:left;
  width: 32px;
  margin: 0px 0px 0px 0px;
  padding: 0 0px 0 0;
}
.header-image {
  margin: 0px 0px 0 0;
}

@media (max-width: $phone-width) {
  .shelf-header-content {
    width:80vw;
    padding: 10px 0 0px 0;
    margin: 0px 0 0 60px;
  }
  .shelf-headhead {
    font-size: .8em;
  }
}
