
/*
  Header
*/
.shelf-header {
  padding: 0;
  margin: 0px 0 0px 0;
}
.shelf-header-content {
  color: black;
  width:640px;
  padding: 10px 0 10px 0;
  margin: 0px 0 0 60px;
  text-align: left;
  background-color:  white;
}
.shelf-headhead {
  padding: 0;
  margin: 0;
}
.header-image img {
  float:left;
  width: 40px;
  margin: 0 6px 0 2px;
}
@media (max-width: $tablet-width+70) {
  .shelf-header-content {
    width:100vw;
    padding: 10px 0 10px 0;
    margin: 0px 0 0 60px;
  }
}

@media (max-width: $phone-width) {
  .shelf-header-content {
    width:80vw;
    padding: 10px 0 10px 0;
    margin: 0px 0 0 60px;
  }
  .header-image img {
    float:left;
    width: 30px;
    margin: 4px 6px 0 2px;
  }
  .shelf-header-content {
    width:80vw;
    padding: 10px 0 10px 0;
    margin: 0px 0 0 60px;
  }
  .shelf-headhead {
    font-size: .8em;
  }
}
