/*
  Page Overall
*/
body {
  background-color: white;
}
/*
  Shelf subhead
*/
.shelf-subhead-wrapper {
  text-align: left;
  background-color: black;
}
.shelf-subhead {
  width: 640px;
  display: block;
  padding: 20px 0 10px 0;
  text-align: left;
  color: white;
}
.shelf-subhead-description {
  width: 640px;
  margin: 0px 0 0 60px;
  padding: 0px 0 0px 0;
  font-size: 1em;
  font-weight: 400;
}
.shelf-subhead-description h111{
  line-height: 80px;
}
.shelf-subhead-cta {
  width: 640px;
  margin: 0px 0 0 60px;
  padding: 20px 0 0px 0;
}
/* IF I WANT TO ADD THE PRICE TO STORE HEADER
.shelf-subhead-promo-cost h111{
  text-align: right;
  color: white;
  float:right;
}
.shelf-subhead-promo-item h8{
  color: white;
  text-align: right;
  float: right;
}
 */
/*
  The Shelf - I WANT TO CREATE THIS AS AN INCLUDE EVENTUALLY
*/
.store-wrapper {
  padding: 0px;
  margin: 0px;
}
/*
  Box Size
*/
* {
  box-sizing: border-box;
}
.store-items {
  display: block;
  margin: 0 auto 0 auto;
}
.store-items ul {
  margin: 0px auto 0px auto;
  padding: 20px 20px 20px 40px;
  list-style-type: none;
  content: "";
  clear: both;
  display: table;
  align: middle;
}
.store-items li {
  float: left;
  width: 33.33%;
  padding: 20px;
  margin: 0px;
  max-width: 320px;
}
.store-items a {
  color: black;
  text-decoration: none;
}
/*
  Box Appearance
*/
.store-top {
  padding: 0px;
  margin: 0px;
  background: #fff2e5;
}
.store-top:hover {
  box-shadow: 6px 6px 6px -8px grey;
  border: 1px;
  background: #ffe6cc;
}
/*
  Buttons
*/
.store-button {
  margin: 20px 0 0 0;
  padding: 0px;
  width: 100%;
  float: left;
  line-height: 10px;
}
.store-button img{
  width: 24vw;
  max-width: 260px;
  border: none;
  padding: 0px;
  margin: 0px 0 20px 0;
}
.store-button img:hover{
  box-shadow: 6px 6px 6px -6px grey;
  border: 1px;
}
.store-cta-button h15{
  margin: 0px;
  padding: 0px;
  color: #1279c5;
}
.store-cta-button h15:hover {
  text-decoration: underline;
  color: green;
}
/*
  Bullet Points
*/
.store-whatuget h15 {
  font-weight: bold;
}
.store-whatuget ul {
  color: black;
  list-style-type: disc;
  list-style-position: inside;
  display: block;
  padding: 0px;
  margin-top: 10px;
}
.store-whatuget li {
  float: left;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.store-whatuget ul :nth-child(4) {
  display: none;
}
.store-whatuget ul :nth-child(5) {
  display: none;
}
/*
  Testimonial
*/
.store-testimonial {
  margin:20px 0 22px 0;
  width: 24vw;
  max-width: 260px;
  line-height: 16px;
  font-weight: bold;
  font-style: italic;
  background-color: black;
  padding:10px;
}
.store-testimonial h15 {
  color: white;
}
/*
  Contact
*/
.contact-wrapper {
  margin: 10px;
  padding: 0;
}
.contact-section {
  background-color: #8fc1e6;
  margin: 0px auto 0px auto;
  padding: 40px 20px 20px 40px;
  content: "";
  clear: both;
  display: table;
  align: middle;
}
.contact {
  width: 100vw;
}
.about {
  float: left;
  width: 30%;
  padding: 0px;
  margin: 10px;
}
.about img{
  margin: 0 0 10px 0;
  width: 100%;
}
.bio-name {
  font-size: 1.4em;
  line-height: normal;
  font-weight: bold;
}
.message {
  float: right;
  width: 66%;
  padding: 10px;
  margin: 0px;
}
.contact-form {
  float: right;
  margin: 0 20px 0 0;
}
.contact-button-margins {
  float: right;
  padding: 10px;
  margin: 0px 20% 0px 0px;
}
textarea#messagebox {
  font-family: Arial;
  width: 400px;
  height: 120px;
  border: 1px dotted #999;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
  color:gray;
  font-style:italic;
}
/*
  Resizers
  $container-width: 1100px;
  $resized-window: 860px;
  $tablet-width: 600px;
  $phone-width: 480px;
*/
@media (max-width: $tablet-width+140px) {
  .contact-section {
    background-color: white;
  }
  .about {
    background-color: #8fc1e6;
    width: 70vw;
    margin: 0px;
  }
  .about img {
    width: 90%;
    padding: 25px 10px 10px 0px;
  }
  .contact-bio-blurb {
    width: 90%;
    padding: 5px 10px 40px 0px;
  }
  .message {
    background-color: #8fc1e6;
    width: 70vw;
    margin: 40px 0 0px 10px;
    padding: 20px;
  }
  .contact-message-form {
    width: 90%;
  }
  .contact-form {
    padding: 10px auto 0 auto;
    margin: 0 20px 0 auto;
  }
  textarea#messagebox {
    width: 360px;
  }
}
@media (max-width: $tablet-width+70) {
  .store-items li {
    float: none;
    width: 100vw;
  }
  .store-button img{
    width: 80vw;
    max-width: 260px;
  }
  .store-testimonial {
    width: 80vw;
    max-width: 260px;
  }
  .shelf-background {
    background-size: contain;
  }
  .shelf-subhead {
    width:80vw;
  }
  .shelf-subhead-description h111{
    line-height: 1.1em;
    font-size: 3.4em;
  }
  .shelf-subhead-description {
    width: 80vw;
    margin: 0px 0 0 60px;
    padding: 20px 0 0px 0;
    font-size: 1em;
  }
  .shelf-subhead-cta {
    width: 76vw;
    margin: 0px 0 0 60px;
    padding: 20px 0 0px 0;
  }
  .contact-message-form input[type=text] {
    width: 260px;
  }
  textarea#messagebox {
    width: 260px;
  }
  .contact-button-margins {
    padding-left: 0px;
    float: none;
  }
}
@media (max-width: $phone-width+50px) {
  textarea#messagebox {
    width: 260px;
  }
  .shelf-subhead-description h111{
    line-height: 1em;
    font-size: 2.2em;
  }
  .shelf-subhead-cta h111{
    line-height: 1em;
    font-size: 2.2em;
  }
}
@media (max-width: $phone-width) {
  .contact-section {
    background-color: #8fc1e6;
  }
  .about {
    width: 80vw;
    min-width: 280px;
    margin: 0px 0 0px 0px;
    padding: 0 0 0 10px;
  }
  .message {
    width: 80vw;
    min-width: 280px;
    display: block;
    margin: 0px 0 0px 0px;
    padding: 0px 0 0 0px;
  }
  .contact-message-form {

    margin: 0px 0 0px 0px;
    padding: 0px 0 0 0px;
  }
  .contact-form {
    margin: 0px 0 0px 0px;
    padding: 0px 0 20px 10px;
  }
}
