/*
  Page Overall
*/
body {
  background-color: white;
}
/*
  Shelf subhead
*/
.shelf-subhead-wrapper {
  text-align: left;
  background-color: black;
}
.shelf-subhead {
  width: 760px;
  display: block;
  padding: 20px 0 10px 0;
  text-align: left;
  color: white;
}
.shelf-subhead-description {
  width: 760px;
  margin: 0px 0 0 60px;
  padding: 0px 0 0px 0;
  font-size: 1em;
  font-weight: 400;
}
.shelf-subhead-cta {
  width: 760px;
  margin: 0px 0 0 60px;
  padding: 20px 0 0px 0;
}
/* IF I WANT TO ADD THE PRICE TO STORE HEADER
.shelf-subhead-promo-cost h111{
  text-align: right;
  color: white;
  float:right;
}
.shelf-subhead-promo-item h8{
  color: white;
  text-align: right;
  float: right;
}
 */
/*
  The Shelf - I WANT TO CREATE THIS AS AN INCLUDE EVENTUALLY
*/
.store-wrapper {
  padding: 0px;
  margin: 0px;
}
/*
  Box Size
*/
* {
  box-sizing: border-box;
}
.store-items {
  //width: 1000px;
  display: block;
  margin: 0 auto 0 auto;
  //padding: 20px;
}
.store-items ul {
  margin: 0px auto 0px auto;
  padding: 20px 20px 20px 40px;
  list-style-type: none;
  content: "";
  clear: both;
  display: table;
  align: middle;
}
.store-items li {
  float: left;
  width: 33.33%;
  padding: 20px;
  margin: 0px;
  max-width: 320px;
}
.store-items a {
  color: black;
  text-decoration: none;
}
/*
  Box Appearance
*/
.store-top {
  padding: 20px 15px 20px 15px;
  margin: 0px;
  //background: #fff2e5;
}
.store-top:hover {
  transition: .5s;
  box-shadow: 6px 6px 6px -8px grey;
  border: 1px;
  background: #ffe6cc;
}
/*
  Buttons
*/
.store-product-name {
  text-align: center;
  margin: 0 0 20px 0;
}
.store-button {
  margin: 0px auto 0px auto;
  //padding: 20px 20px 20px 40px;
  //list-style-type: none;
  content: "";
  clear: both;
  display: table;
  align: middle;
}
.store-button-container {
  float: left;
  width: 33.33%;
  //padding: 0 0 20px 0;
  margin: 0px;
}
.store-button img{
  width: 24vw;
  max-width: 100px;
  border: none;
  padding: 0px;
  margin: 0px auto 0px auto;
}
/*
  Bullet Points
*/

.store-whatuget h3 {
  line-height: 26px;
}
.store-whatuget ul {
  color: black;
  list-style-type: disc;
  list-style-position: inside;
  display: block;
  padding: 0px;
  margin: 0px;
}
.store-whatuget li {
  float: left;
  width: 100%;
  padding: 0px;
}
.store-whatuget ul :nth-child(3) {
  margin-bottom: 10px;
}
.store-whatuget ul :nth-child(4) {
  display: none;
}
.store-whatuget ul :nth-child(5) {
  display: none;
}
/*
cta
*/
.store-cta-button {
  margin: 0px 0 0px 0;
  padding: 0px;
}
.store-cta-button h3{
  //color: green;
  color: #ff9900;
  font-weight: bold;
  font-size: 20px;
  //background-color: yellow;
}
/*
  Testimonial
*/
.store-testimonial {
  margin:20px 0 22px 0;
  width: 24vw;
  max-width: 260px;
  line-height: 16px;
  font-weight: bold;
  font-style: italic;
  background-color: black;
  padding:10px;
}
.store-testimonial h3 {
  color: white;
}
/*
  Contact
*/
.contact-wrapper {
  margin: 10px;
  padding: 0;
}
.contact-section {
  background-color: #8fc1e6;
  margin: 0px auto 0px auto;
  padding: 40px 20px 20px 40px;
  content: "";
  clear: both;
  display: table;
  align: middle;
}
.contact {
  width: 100vw;
}
.about {
  float: left;
  width: 30%;
  padding: 0px;
  margin: 10px;
}
.about img{
  margin: 0 0 10px 0;
  width: 100%;
}
.bio-name {
  font-size: 1.4em;
  line-height: normal;
  font-weight: bold;
}
.message {
  float: right;
  width: 66%;
  padding: 10px;
  margin: 0px;
  max-width: 600px;
}
.contact-form {
  float: right;
  margin: 0 10px 0 80px;
}
.lets-talk {
  font-weight: bold;
}

textarea#messagebox {
  font-family: Arial;
  width: 400px;
  height: 120px;
  border: 1px dotted #999;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
  color:black;
  font-style: none;
}
::placeholder {
    color: gray;
    font-style: italic;
    //font-weight: 800;
    //opacity: 1; /* Firefox */
}
/*
input:focus textarea:focus{
  color: black;
  font-style: none;
}
*/
/*
  Resizers
  $container-width: 1100px;
  $resized-window: 860px;
  $tablet-width: 600px;
  $phone-width: 480px;
  .store-items {
    display: block;
    margin: 0 auto 0 auto;
  }
  .shelf-subhead {
    width: 640px;
    display: block;
    padding: 20px 0 10px 0;
    text-align: left;
    color: white;
  }
*/

@media (min-width: 1000px) {
  .shelf-head-left {
    width:1000px;
    margin: 0px auto 0px auto;
    padding: 20px 20px 20px 0px;
    list-style-type: none;
    content: "";
    clear: both;
    display: table;
  }
  .shelf-subhead {
    width: 1000px;
    display: table;
    list-style-type: none;
    content: "";
    clear: both;
    //padding: 20px 0 10px 0;
    margin: 0px auto 0px auto;
    text-align: left;
    color: white;
  }
  .contact-wrapper{
    width:1000px;
    margin: 0px auto 0px auto;
    padding: 20px 20px 20px 0px;
    list-style-type: none;
    content: "";
    clear: both;
    display: table;
  }
}
@media (min-width: 1200px) {
  .shelf-subhead-wrapper {
    background-color: white;
  }
  .shelf-subhead {
    background-color: black;
  }
}

@media (max-width: $tablet-width+140px) {
  .contact-section {
    background-color: white;
  }
  .about {
    background-color: #8fc1e6;
    width: 70vw;
    margin: 0px;
  }
  .about img {
    width: 90%;
    padding: 25px 10px 10px 0px;
  }
  .contact-bio-blurb {
    width: 90%;
    padding: 5px 10px 40px 0px;
  }
  .message {
    background-color: #8fc1e6;
    width: 70vw;
    margin: 40px 0 0px 10px;
    padding: 20px;
  }
  .contact-message-form {
    width: 90%;
  }
  .contact-form {
    padding: 10px auto 0 auto;
    margin: 0 20px 0 auto;
  }
  textarea#messagebox {
    width: 360px;
  }
  .shelf-subhead {
    width: 560px;
  }
  .shelf-subhead-description h1{
    line-height: 1.1em;
    font-size: 4.4em;
  }
  .shelf-subhead-description {
    width: 560px;
  }
  .shelf-subhead-cta {
    width: 560px;
  }
}
@media (max-width: $tablet-width+70) {
  .store-items li {
    float: none;
    width: 100vw;
  }
  .store-testimonial {
    width: 80vw;
    max-width: 260px;
  }
  .shelf-background {
    background-size: contain;
  }
  .shelf-subhead {
    width:80vw;
  }
  .shelf-subhead-description h1{
    line-height: 1.1em;
    font-size: 3.4em;
  }
  .shelf-subhead-description {
    width: 80vw;
    margin: 0px 0 0 60px;
    padding: 20px 0 0px 0;
    font-size: 1em;
  }
  .shelf-subhead-cta {
    width: 76vw;
    margin: 0px 0 0 60px;
    padding: 20px 0 0px 0;
  }
  .contact-message-form input[type=text] {
    width: 260px;
  }
  textarea#messagebox {
    width: 260px;
  }
  .contact-button-margins {
    padding-left: 0px;
    float: none;
  }
}
@media (max-width: $phone-width+50px) {
  textarea#messagebox {
    width: 260px;
  }
  .shelf-subhead-description h1{
    line-height: 1em;
    font-size: 2.2em;
  }
  .shelf-subhead-cta h1{
    line-height: 1em;
    font-size: 2.2em;
  }
}
@media (max-width: $phone-width) {
  .contact-section {
    background-color: #8fc1e6;
  }
  .about {
    width: 80vw;
    min-width: 280px;
    margin: 0px 0 0px 0px;
    padding: 0 0 0 10px;
  }
  .message {
    width: 80vw;
    min-width: 280px;
    //display: block;
    margin: 0px 0 0px 0px;
    padding: 0px 0 0 0px;
  }
  .contact-form {
    width: 100%;
    margin: 0px 0 0px 0px;
    padding: 0px 0 20px 10px;
  }
}
