<!doctype html>
<html>
    {% include head.html %}
    <header class="shelf-header">
      <div class="shelf-header-content">
        <span class="header-image"><img src="{{ site.github.url }}/assets/img/{{ page.image }}" ></span>
        <h8><span class="shelf-headhead">{{ page.header }}</span></h8>
      </div>
    </header>
    <body>
      <div class="shelf-subhead-wrapper">
        <div class="shelf-subhead">
          <div class="shelf-subhead-description"><h111>{{ page.subhead }}</h111></div><br>
          <div class="shelf-subhead-cta"><h8>{{ page.cta }}</h8></div><br>
        </div>
      </div>
      <div class="store-wrapper">
        <div class="shelf-wrapper">
          {{ content }}
        </div>
        {% include footer.html %}
      </div>
    </body>
</html>
