<!doctype html>
<html>
  <div class="shelf-head">
    <div class="shelf-head-left">
    {% include head.html %}
    {% include header.html %}
    </div>
  </div>
    <body>
      <div class="shelf-subhead-wrapper">
        <div class="shelf-subhead">
          <div class="shelf-subhead-description"><h1>{{ page.subhead }}</h1></div><br>
          <div class="shelf-subhead-cta"><h2>{{ page.cta }}</h2></div><br>
        </div> <!-- shelf-subhead -->
      </div> <!-- shelf-subhead-wrapper -->
      <div class="store-wrapper">
        <div class="shelf-wrapper">
          {{ content }}
        </div> <!-- shelf-wrapper -->
      </div> <!-- store-wrapper-->
      <div class="contact-wrapper">
        <div class="contact-section">
          <div class="contact about">
            <!--  <div class="contact-biohead"><h2>{{page.bioheader}}</h2></div> -->
            <div class="contact-bioimage"><img src="{{ site.github.url }}/assets/img/{{ page.biopic }}"></div>
            <div class="contact-bio-blurb"><h2 class="bio-name">{{page.bioheader}}</h2><h3> {{ page.bio }}</h3></div>
          </div> <!-- about -->
          <div class="contact message">
            <span class="contact-message-form">
              <form name="contact"  method="POST" data-netlify="true" action="/messagereceived">
                <!--- BOT-KILLER .hidden in the CSS -->
                <p class="hidden">
                  <label>Don’t fill this out if you're human: <input name="bot-field"></label>
                  <label>Reading: <input name="bot-field" value="{{ page.name }}"></label>
                </p>
                <div class="contact-form">
                    <h2>Contact</h2><br>
                    <h3>Share your questions about getting a reading or any other business inquiries.
                      <span class="lets-talk">Let's talk.</span> </h3>
                    <p>
                      <label>Name <br><input type="text" name="name" placeholder="Name" required></label>
                    </p>
                    <p>
                      <label>Email <br><input type="text" name="email" placeholder="Email" required></label>
                    </p>
                    <p>
                    <label for="subject">Subject <br></label>
                      <textarea id="messagebox" type="text" name="subject" placeholder="Your message" ></textarea>
                    </p>
                    <div class="contact-button-margins">
                      <button type="submit" class="store-form-button"><h2>SEND <i class="fa fa-chevron-circle-right" style="font-size:30px"></i></h2></button>
                    </div>
                </div> <!-- contact-form -->
              </form>
            </span> <!-- contact-message-form MEDIA RESIZING -->
          </div> <!-- contact message -->
        </div> <!-- contact-section -->
      </div> <!-- contact-wrapper -->
        {% include footer.html %}
    </body>
</html>
