<!doctype html>
<html>
{% include head.html %}
<header class="store-form-header"><!---  HEADER -->
  <div class="store-form-title">
      <h4 class="order-your">Order Your</h4>
      <h4 class="store-form-product">{{ page.name }}</h4>
    <div class="store-form-subhead">
      <h5>
        {{ page.form-byline }}
      </h5>
    </div>
  </div> <!---  closes out store-form-title -->
</header>
<body class="store-form-body">
  <div class="store-container">
    <!--- BACKGROUND IMAGE -->
    <div class="page-background" {% if page.bgimage %} style="background-image: url(../../assets/img/{{ page.bgimage }})"{% endif %}>
      <div class="store-wrapper">
        <!--- THE DEETS -->
        <div class="store-form-description"><!---  DEETS -->
          <h2>{{ page.money-offer }}</h2>
          <div class ="store-form-includes">
            <h3>Your {{ page.name }} includes: {{ content }}</h3>
            <span class="store-form-receive"><h3>{{ page.receive }}</h3></span>
          </div>
        </div>
        <!--- ORDER FORM STARTS -->
        <div class="store-orderform">
          <form name="{{ name.slug }}" method="POST" data-netlify="true"">
            <!--- BOT-KILLER .hidden in the CSS -->
            <p class="hidden">
              <label>Don’t fill this out if you're human: <input name="bot-field"></label>
              <label>Reading: <input name="bot-field" value="{{ page.name }}"></label>
            </p>
            <!--- 1 SCHEDULE -->
            <div class="store-form-section">
              <h2>Schedule your appointment</h2><br>
              <!--- 1a SELECT APPT DATE -->
              <div class="store-form-question">
                <div class="date-selector">
                <label>
                  <!-- <p>Select an available date<br> -->
                    <select name="schedule-date-time" required>
                      <option value="">Select an available date</option>

                      <option value="09/29/11:00am">Sat 9/29 @11:00am</option>
                      <option value="09/29/12:30pm">Sat 9/29 @12:30pm</option>

                      <option value="10/01/11:00am">Mon 10/01 @11:00am</option>
                      <option value="10/01/12:30pm">Mon 10/01 @12:30pm</option>
                      <option value="10/01/2:00pm">Mon 10/01 @2:00pm</option>

                      <option value="10/06/11:00am">Sat 10/06 @11:00am</option>
                      <option value="10/06/12:30pm">Sat 10/06 @12:30pm</option>
                      <option value="10/06/2:00pm">Sat 10/06 @2:00pm</option>

                      <option value="10/08/11:00am">Mon 10/08 @11:00am</option>
                      <option value="10/08/12:30pm">Mon 10/08 @12:30pm</option>
                      <option value="10/08/2:00pm">Mon 10/08 @2:00pm</option>

                      <option value="10/13/11:00am">Sat 10/13 @11:00am</option>
                      <option value="10/13/12:30pm">Sat 10/13 @12:30pm</option>
                      <option value="10/13/2:00pm">Sat 10/13 @2:00pm</option>
                    </select>
                  </p>
                </label>
              </div>
            </div> <!-- closes store-form-question SELCT AVAIL DATE -->
            <!--- 1b PHONE OR IN-PERSON -->
            <div class="store-form-question">
              <label>
                <p>
                  <span class="tooltip">
                    <input type="radio" name="where" value="phone" required> Phone
                      <span class="tooltiptext">Phone readings work their mojo just as well as in-person.</span>
                  </span>
                  <span class="tooltip">
                    <input type="radio" name="where" value="in-person"> In-Person<br>
                      <span class="tooltiptext">In-person readings take place in Hollywood, CA. Exact location will be emailed to you.</span>
                    </span>
                 </p>
                </label>
              </div><!-- closes store-form-question PHONE OR IN PERSON-->
              <!-- 2 CONTACT INFO -->
              <div class="store-form-section">
                  <h2>Enter your contact information</h2><br>
                  <p>
                    <label>Name <br><input type="text" name="name" placeholder="Name" required></label>
                  </p>
                  <p>
                    <label>Email <br><input type="text" name="email" placeholder="Email" required></label>
                  </p>
                  <p>
                    <label>Phone <br><input type="text" name="phone" placeholder="Phone" required></label>
                  </p>
              </div> <!-- closes store-form-section CONTACT INFORMATION-->
              <!-- 3 BIRTH INFO -->
              {% if page.get-birth-info %}
              <div class="store-form-section">
                <h2>Enter your birth information</h2><br>
                <p>
                  <label>Where you were born<br>
                    <input type="text" name="birth-location" placeholder="Country, City, State" required><br>
                  </label>
                </p>
                <p>
                <label>Date of birth<br>
                  <input type="date" name="bday" placeholder="mm/dd/yyyy" required><br>
                </label>
                </p>
                <p>
                <label>Time of birth<br>
                  <input type="time" name="usr_time" placehoder="--:--:am/pm"><br>
                </label>
                <!-- 3b EXACT APPROX UNKOWN-->
                <div class="store-form-question">
                  <p class="exact-times">
                    <label>
                      <span class="tooltip">
                        <input type="radio" name="birth-time" value="exact-time" required>Exact Time<br>
                          <span class="tooltiptext">Exact time is preferred for the most accurate chart reading. Birth time can be found on your birth certificate.</span>
                      </span>
                      <span class="tooltip">
                        <input type="radio" name="birth-time" value="guesswork-time">Approximation<br>
                          <span class="tooltiptext">A chart can also be based on a general time-frame, within an hour or so. Ask your mom, auntie or grandma and they might remember the general time-frame.</span>
                      </span>
                      <span class="tooltip">
                        <input type="radio" name="birth-time" value="natal">Unknown<br>
                          <span class="tooltiptext">Without the time, there are important chart elements that will be missing, such as rising sign and house placements. If you have no idea what time you were born try to track down your birth certificate.</span>
                      </span>
                    </label>
                  </p>
                </div><!-- closes out 3b EXACT APPROX UNKOWN -->
              </div><!-- closes out BIRTH INFO -->
              {% endif %}
              <div class="button-margins">
                <button type="submit" class="store-form-button"><h2>NEXT <i class="fa fa-chevron-circle-right" style="font-size:30px"></i></h2></button>
              </div>
            </form>
          </div> <!--- clsoes out store-orderform -->
        </div> <!---  closes out store-wrapper -->
      </div> <!-- background image -->
    </div> <!---  closes out store-container -->
    {% include footer.html %}
  </body>
</html>
